# Домашнее задание

In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

Создадим сэмпл данных длясуммы выплаты при взятии займа на определенный период по определенной процентной ставке.

In [4]:
n_samples = 500

# исходная сумма займа
amount = np.random.choice(4000, n_samples) + 2000

# дневная ставка начислений
rate = np.random.choice(6, n_samples) + 3

# срок займа (дней)
period = np.random.choice(28, n_samples) + 7

# комиссия за взятие займа
commission = np.random.choice(100, n_samples) + 50

payment_sum = amount + amount * (rate / 100) * period + commission

data = pd.DataFrame({'amount': amount, 'rate': rate, 'period': period, 'commission': commission, 'payment_sum': payment_sum})
data.head(5)

   amount  rate  period  commission  payment_sum
0    4614     5      14         133      7976.80
1    5981     7      22          71     15262.74
2    4242     3      29         128      8060.54
3    2984     4      24          89      5937.64
4    3583     7      15          67      7412.15

Выведем коэффицент влияния каждого параметра на результат и коэффицент ошибки

In [5]:
from sklearn.metrics import mean_absolute_error

X = data[['amount', 'rate', 'period', 'commission']]
y = data['payment_sum']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['amount', 'rate', 'period', 'commission']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 2.14319253e+00  8.33184331e+02  2.21586202e+02 -2.99921200e-01]
Bias: -8955.047994974935
Error: 673.4365208443805

Оставим наиболее влиятельные параметры

In [6]:
X = data[['amount', 'rate', 'period']]
y = data['payment_sum']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['amount', 'rate', 'period']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  2.14326946 833.24126368 221.61920519]
Bias: -8986.252883665587
Error: 673.3132753515422

Добавим новый параметр

In [7]:
# размер начислений
data['accrual'] = data['amount'] * (data['rate'] / 100) * data['period']
data.head(5)

   amount  rate  period  commission  payment_sum  accrual
0    4614     5      14         133      7976.80  3229.80
1    5981     7      22          71     15262.74  9210.74
2    4242     3      29         128      8060.54  3690.54
3    2984     4      24          89      5937.64  2864.64
4    3583     7      15          67      7412.15  3762.15

Выведем коэффицент ошибки с учетом нового параметра

In [9]:
X = data[['amount', 'accrual']]
y = data['payment_sum']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['amount', 'accrual']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1.0003515  0.99948904]
Bias: 100.69075318723662
Error: 25.42547822514429