# Дипломная работа

In [2]:
import pandas as pd

1. Загрузить файл hr.csv

In [3]:
data = pd.read_csv('HR.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

2. Рассчитать основные статистики для переменных (среднее, медиана, мода, мин/макс, сред. отклонение)

In [ ]:
Рассчитать и визуализировать корреляционную матрицу для переменных
Визуализировать несколько взаимосвязей между переменными
С использованием t-test статистики проверить взаимосвязи между несколькими переменными
Рассчитать сколько работников работает в каждом департаменте
Показать распределение сотрудников по зарплатам
Показать распределение сотрудников по зарплатам совместно с департаментами
Сколько сотрудников покинули компанию
Проверить несколько гипотез для данных, чтобы понять почему сотрудники покидают компанию
Загрузить результат (в формате .ipynb ноутбука) в репозиторий. Разместить ссылку на репозиторий в лк на сайте